@use "variables" as vars;

.no-margin-top {
    margin-top: 0;
}

.no-margin-btm {
    margin-bottom: 0;
}

.no-padding-btm {
    padding-bottom: 0;
}

.no-padding-top {
    padding-top: 0;
}

.justify-c {
    justify-content: center;
}