@forward "../main.scss";

/* ------ Variables ------ */
$colour-1: #427A61;
$colour-2: #FFFAEB;
$colour-3: #131313;
$colour-4: #193e2d;
$font: 'Rubik', sans-serif;
$font-h: 'Rubik Mono One', sans-serif;
