@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
/* ------ Variables ------ */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  background: #FFFAEB;
}

main {
  font-size: 1.75rem;
}

/* ------ Utility Classes ------ */
section {
  margin: 2.5rem 0;
}
section img {
  width: 100%;
  border-radius: 1rem;
}
section .bulleted li {
  padding-left: 1rem;
}
section .bulleted li:not(:last-child) {
  margin-bottom: 1.5rem;
}
section .bulleted li::before {
  content: "●";
  color: #427A61;
  display: inline-block;
  width: 1rem;
  font-weight: 700;
}

.section-bg {
  width: 100%;
  background: #427A61;
  color: #FFFAEB;
  padding: 1.5rem 0;
}

.container {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
@media screen and (min-width: 480px) {
  .container {
    max-width: 45rem;
  }
}
/*------- BIG TABLET --------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 55rem;
  }
}
/*------- LAPTOPS --------*/
@media screen and (min-width: 1024px) {
  .container {
    max-width: 70rem;
  }
}
/*------- DESKTOPS--------*/
@media screen and (min-width: 1440px) {
  .container {
    max-width: 80rem;
  }
}
/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1920px) {
  .container {
    max-width: 100rem;
  }
}
/* ------ TYPOGRAPHY ------ */
h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik Mono One", sans-serif;
  color: #427A61;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 0.6rem;
}

h5 {
  font-size: 0.4rem;
}

h6 {
  font-size: 0.2rem;
}

p, li {
  font-size: 1.1rem;
  line-height: 1.75;
}

figcaption {
  font-size: 1rem;
}

* > p:not(:last-child) {
  margin-bottom: 1.5rem;
}

b, strong {
  font-weight: 700;
}

i, em, figcaption {
  font-style: italic;
}

figcaption {
  font-weight: 200;
  text-align: center;
  padding: 1rem;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
/*------- BIG TABLET --------*/
/*------- LAPTOPS --------*/
/*------- DESKTOPS--------*/
/*------- LARGE SCREENS --------*/
.btn {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 1.5rem 0 1.5rem;
  background: #427A61;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.1rem;
  line-height: 1.75;
  color: #FFFAEB;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  max-height: 3.6rem;
  max-width: fit-content;
  transition: 0.25s ease-in-out;
}

.btn:hover {
  background: #193e2d;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- TABLET --------*/
/*------- LAPTOPS --------*/
/*------- DESKTOPS --------*/
/*------- LARGE SCREENS --------*/
/* ------ Grid ------ */
.grid-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  margin: 0 1.5rem;
}
.grid-col .column {
  grid-column: 1/span 4;
}
@media screen and (min-width: 480px) {
  .grid-col {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 2rem;
    margin: 0 2rem;
  }
  .grid-col .column {
    grid-column: 1/span 8;
  }
}
@media screen and (min-width: 768px) {
  .grid-col {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 2rem;
    margin: 0 2rem;
  }
  .grid-col .column {
    grid-column: 1/span 8;
  }
}
@media screen and (min-width: 1024px) {
  .grid-col {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2.5rem;
    margin: 0 4rem;
  }
  .grid-col .column {
    grid-column: 1/span 12;
  }
}
@media screen and (min-width: 1440px) {
  .grid-col {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2.5rem;
    margin: 0 6rem;
  }
  .grid-col .column {
    grid-column: 1/span 12;
  }
}
@media screen and (min-width: 1920px) {
  .grid-col {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2.5rem;
    margin: 0 8rem;
  }
  .grid-col .column {
    grid-column: 1/span 12;
  }
}

/* ----- Grid ----- */
.column.span1 {
  grid-column: auto/span 1;
}

.column.span2 {
  grid-column: auto/span 2;
}

.column.span3 {
  grid-column: auto/span 3;
}

.column.span4 {
  grid-column: auto/span 4;
}

.column.span5 {
  grid-column: auto/span 5;
}

.column.span6 {
  grid-column: auto/span 6;
}

.column.span7 {
  grid-column: auto/span 7;
}

.column.span8 {
  grid-column: auto/span 8;
}

.column.span9 {
  grid-column: auto/span 9;
}

.column.span10 {
  grid-column: auto/span 10;
}

.column.span11 {
  grid-column: auto/span 11;
}

.column.span12 {
  grid-column: auto/span 12;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
@media screen and (min-width: 480px) {
  .column.span8-md {
    grid-column: auto/span 8;
  }
}
/*------- BIG TABLET --------*/
/*------- LAPTOPS --------*/
@media screen and (min-width: 1024px) {
  .column.span12-lg {
    grid-column: auto/span 12;
  }
}
/*------- DESKTOPS--------*/
/*------- LARGE SCREENS --------*/
/* ------ Header Nav ------ */
header .column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
header .column .header-logo {
  width: 5rem;
}
header .column .global-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}
header .column .global-nav li {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}
header .column .global-nav a {
  text-decoration: none;
  color: #427A61;
  transition: 0.25s ease-in-out;
}
header .column .global-nav a:hover {
  color: #193e2d;
  border-bottom: #427A61 solid 0.15rem;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
/*------- BIG TABLET --------*/
/*------- LAPTOPS --------*/
@media screen and (min-width: 1024px) {
  header .column {
    flex-direction: row;
  }
}
/*------- DESKTOPS--------*/
/*------- LARGE SCREENS --------*/
/* ------ Contact Section ------ */
.contact {
  text-align: center;
}
.contact p {
  margin-bottom: 3rem;
}
.contact .social-icons {
  display: flex;
  justify-content: center;
}
.contact .social-icons a {
  text-decoration: none;
  margin: 0 1.5rem;
}
.contact .social-icons span {
  font-size: 2.5rem;
  color: #427A61;
  transition: 0.25s ease-in-out;
}
.contact .social-icons span:hover {
  color: #193e2d;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
/*------- BIG TABLET --------*/
/*------- LAPTOPS --------*/
/*------- DESKTOPS--------*/
/*------- LARGE SCREENS --------*/
/* ------ Footer ------ */
footer {
  background: #131313;
  width: 100%;
}
footer .column {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #427A61;
  flex-direction: column;
}
footer .column .footer-logo {
  flex-basis: 33.333%;
}
footer .column .footer-logo img {
  width: 2.5rem;
}
footer .column p {
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
  flex-basis: 33.333%;
}
footer .column .socials {
  flex-basis: 33.333%;
  text-align: right;
}
footer .column .socials span {
  font-size: 2rem;
  color: #427A61;
  transition: 0.25s ease-in-out;
}
footer .column .socials span:hover {
  color: #FFFAEB;
}
footer .column .socials i {
  margin: 1rem;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
/*------- BIG TABLET --------*/
/*------- LAPTOPS --------*/
/*------- DESKTOPS--------*/
/*------- LARGE SCREENS --------*/
/* ------ Index ------ */
.intro .img-container {
  width: 100%;
  height: 8rem;
}
.intro .img-container img {
  height: auto;
  width: 100%;
  align-self: center;
  position: relative;
  border-radius: 0rem;
  z-index: -5;
}

.showcase h2 {
  color: #FFFAEB;
  text-align: center;
}
.showcase .card {
  background: #FFFAEB;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.showcase .card img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  transition: 0.25s ease-in-out;
}
.showcase .card img:hover {
  transform: scale(103%);
}
.showcase .card p {
  text-align: center;
  color: #131313;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
@media screen and (min-width: 480px) {
  .intro .img-container {
    height: 8.15rem;
    width: 100%;
  }
  .intro .img-container.column.span8-md {
    grid-column: 1/span 8;
  }
}
/*------- BIG TABLET --------*/
@media screen and (min-width: 768px) {
  .intro .img-container.column.span8-md {
    height: 15rem;
    grid-column: 2/span 6;
  }
}
/*------- LAPTOPS --------*/
@media screen and (min-width: 1024px) {
  section.intro {
    margin-bottom: 0;
  }
  section.showcase {
    margin-top: 0;
  }
  .intro .intro-title {
    grid-area: 1/1/2/span 12;
  }
  .intro .intro-content {
    grid-area: 2/1/3/span 7;
  }
  .intro .img-container {
    height: 18rem;
  }
  .intro .img-container img {
    margin-top: 1rem;
  }
  .intro .img-container.column.span12-lg {
    grid-area: 2/6/3/span 8;
  }
  .card.column.span8-md {
    grid-column: auto/span 6;
  }
}
/*------- DESKTOPS--------*/
@media screen and (min-width: 1440px) {
  .intro .intro-title {
    grid-area: 1/1/2/span 12;
  }
  .intro .intro-content {
    grid-area: 2/1/3/span 7;
  }
  .intro .img-container {
    height: 10rem;
  }
  .intro .img-container.column.span12-lg {
    grid-area: 1/7/3/span 7;
  }
}
/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1920px) {
  .intro .img-container {
    height: 15rem;
  }
  .intro .img-container.column.span12-lg {
    grid-area: 1/8/3/span 6;
  }
}
/* ------ About ------ */
.about-me img {
  width: 100%;
  border-radius: 1rem;
  margin-top: 1.5rem;
}

.skills .skill-card {
  margin-bottom: 2.5rem;
}
.skills .smol-txt {
  font-size: 1rem;
}

.values h2,
.goals h2 {
  margin-bottom: 3rem;
}
.values .grid-col > .grid-col,
.goals .grid-col > .grid-col {
  margin: 0;
  margin-bottom: 2.5rem;
}
.values .card,
.goals .card {
  margin-bottom: 3rem;
}
.values .card > img,
.goals .card > img {
  border-radius: 0;
  margin-bottom: 1.5rem;
  grid-column: 1/span 1;
  height: 2.5rem;
}
.values .card h3,
.goals .card h3 {
  margin-bottom: 1.5rem;
}

.mission h2 {
  color: #FFFAEB;
}
.mission p {
  color: #FFFAEB;
  font-size: 1.5rem;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
@media screen and (min-width: 481px) {
  .about-me img.column.span8-md {
    grid-column: 2/span 6;
  }
  .values .card,
  .goals .card {
    grid-column: auto/span 4;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4rem 1fr;
  }
  .values .card > .column,
  .goals .card > .column {
    grid-column: 1/span 4;
  }
  .values .card > img.span8-md,
  .goals .card > img.span8-md {
    grid-column: 1/span 1;
  }
}
/*------- BIG TABLET --------*/
@media screen and (min-width: 768px) {
  .about-me img.column.span8-md {
    grid-column: 3/span 4;
  }
  .skills .skill-card {
    grid-column: auto/span 4;
  }
  .skill-card:last-child {
    grid-column: auto/span 8;
  }
}
/*------- LAPTOPS --------*/
@media screen and (min-width: 1024px) {
  .values .card,
  .goals .card {
    grid-column: auto/span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 8rem 1fr;
  }
  .values .card > .column,
  .goals .card > .column {
    grid-column: 1/span 6;
  }
  .values .card > img.span12-md,
  .goals .card > img.span12-md {
    grid-column: 1/span 6;
  }
}
/*------- DESKTOPS--------*/
/*------- LARGE SCREENS --------*/
/* ------ Projects Page ------ */
.projects .proj-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.projects .proj-card h3 a {
  transition: 0.25s ease-in-out;
}
.projects .proj-card h3 a:hover {
  border-bottom: #427A61 solid 0.15rem;
}
.projects .proj-card > a {
  width: 38%;
  transition: 0.25s ease-in-out;
}
.projects .proj-card > a:hover {
  transform: scale(103%);
}
.projects .proj-card img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.projects .proj-card .card-content {
  width: 60%;
}
.projects .proj-card .card-content h3 {
  line-height: 1.3;
}
.projects .proj-card .card-content h3 a {
  text-decoration: none;
  color: #427A61;
}
.projects .proj-card .proj-tags {
  display: flex;
}
.projects .proj-card .proj-tags p {
  padding: 0 1rem;
  font-size: 1.1rem;
  margin-right: 1.5rem;
  height: fit-content;
  color: #427A61;
  border: #427A61 0.15rem solid;
  border-radius: 1rem;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- TABLET --------*/
/*------- LAPTOPS --------*/
/*------- DESKTOPS --------*/
/*------- LARGE SCREENS --------*/
/* ------ Indv. Project Page ------ */
.proj-intro .proj-header {
  margin-bottom: 5rem;
}
.proj-intro .proj-header h1 {
  margin: 2.5rem 0 1.5rem;
}
.proj-intro .proj-header .proj-tags {
  display: flex;
}
.proj-intro .proj-header p {
  padding: 0 1.5rem;
  margin-right: 1.5rem;
  height: fit-content;
  color: #427A61;
  border: #427A61 0.15rem solid;
  border-radius: 1rem;
}

.proj-process .grid-col > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.proj-process .lb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.proj-process .lb-container div {
  width: 100%;
}
.proj-process .lb-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  transition: 0.25s ease-in-out;
}
.proj-process .lb-container img:hover {
  transform: scale(103%);
  cursor: pointer;
  object-position: 60% 10%;
}
.proj-process .lb-container.glyph {
  grid-column: 6/span 2;
}
.proj-process .lb-container.glyph img {
  height: 10rem;
}
.proj-process .lb-container.final-poster a {
  grid-column: 4/span 6;
}
.proj-process .lb-container.final-poster img {
  height: 50rem;
}

.proj-closing {
  text-align: center;
}
.proj-closing p {
  margin-bottom: 1.5rem;
}
.proj-closing .grid-col a {
  margin: 0 auto;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- TABLET --------*/
/*------- LAPTOPS --------*/
/*------- DESKTOPS --------*/
/*------- LARGE SCREENS --------*//*# sourceMappingURL=main.css.map */