@use "../utilities/variables" as vars;

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    background: vars.$colour-2;
}

/* ------ Utility Classes ------ */
section {
    margin: 2rem 0;

    img {
        width: 100%;
        border-radius: 1rem;
    }

    .bulleted {
        li {
            padding-left: 1rem;
        }

        li:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        li::before {
            content: '●';
            color: vars.$colour-1;
            display: inline-block;
            width: 1rem;
            font-weight: 700;
        }
    }
}

.section-bg {
    width: 100%;
    background: vars.$colour-1;
    color: vars.$colour-2;
    padding: 1.5rem 0;
}

.container {
    max-width: 55rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
@media screen and (min-width: 480px) {
    .container {
        max-width: 65rem;
    }
}
/*------- BIG TABLET --------*/
@media screen and (min-width: 768px) {
    .container {
        max-width: 75rem;
    }
}
/*------- LAPTOPS --------*/
@media screen and (min-width: 1024px) {
    .container {
        max-width: 125rem;
    }
    
}
/*------- DESKTOPS--------*/
@media screen and (min-width: 1440px) {

    .container {
        max-width: 150rem;
    }
}
/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1920px) {
    .container {
        max-width: 170rem;
    }
}


