@use "../utilities/variables" as vars;
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
/* ------ TYPOGRAPHY ------ */

h1, h2, h3, h4, h5, h6 {
    font-family: vars.$font-h;
    color: vars.$colour-1;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: .6rem;
}

h5 {
    font-size: .4rem;
}

h6 {
    font-size: .2rem;
}

p, li {
    font-size:  1.1rem;
    line-height: 1.75;
}

figcaption {
    font-size: 1rem;
}

* > p:not(:last-child) {
    margin-bottom: 1.5rem;
}

b, strong {
    font-weight: 700;
}

i, em, figcaption {
    font-style: italic;
}

figcaption {
    font-weight: 200;
    text-align: center;
    padding: 1rem;
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- TABLET --------*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    
}
/*------- LAPTOPS --------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}
/*------- DESKTOPS --------*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}
/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1201px) {
    
}
