@use "../utilities/variables" as vars;

/* ------ Index ------ */
.intro {
    .img-container {
        width: 100%;
        height: 8rem;

        // @NOTE: might not work if I do width %, might have to have an absolute number
        img {
        height: auto;
        width: 85%;
        align-self: center;
        position: absolute;
        border-radius: 0rem;
        z-index: -5;
        }
    }
}

.showcase {
    h2 {
        color: vars.$colour-2;
        text-align: center;
    }

    .card {
        background: vars.$colour-2;
        padding: 1.5rem;
        border-radius: 1rem;
        margin-bottom: 2rem;

        img {
            height: 20rem;
            width: 100%;
            object-fit: cover;
            margin-bottom: 1.5rem;
            border-radius: 1rem;
            transition: .25s ease-in-out;
        }

        img:hover {
            transform: scale(103%);
        }

        p {
            text-align: center;
            color: vars.$colour-3;
        }
    } 
}

/*----------------------
    Responsiveness
-----------------------*/

/*------- TINY PHONES --------*/
@media screen and (min-width: 320px) and (max-width: 374px) {
    .intro {
        .img-container {
            height: 5rem;
        }
    }

}

/*------- TABLET --------*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .intro {
        .img-container {
            height: 20rem;
        }
    }

}

/*------- LAPTOPS --------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

/*------- DESKTOPS --------*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}

/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1201px) {
    
}
