@use "../utilities/variables" as vars;

/* ------ Index ------ */
.intro {
    .img-container {
        width: 100%;
        height: 8rem;

        img {
            height: auto;
            width: 100%;
            align-self: center;
            position: relative;
            border-radius: 0rem;
            z-index: -5;
        }
    }
}

.showcase {
    h2 {
        color: vars.$colour-2;
        text-align: center;
    }

    .card {
        background: vars.$colour-2;
        padding: 1.5rem;
        border-radius: 1rem;
        margin-bottom: 2rem;

        img {
            height: 20rem;
            width: 100%;
            object-fit: cover;
            margin-bottom: 1.5rem;
            border-radius: 1rem;
            transition: .25s ease-in-out;
        }

        img:hover {
            transform: scale(103%);
        }

        p {
            text-align: center;
            color: vars.$colour-3;
        }
    } 
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
@media screen and (min-width: 481px) and (max-width: 767px) {

    .intro {
        .img-container {
            height: 8.15rem;
            width: 100%;
        }

        .img-container.column.span8-md {
            grid-column: 2 / span 6;
        }

    }

}
/*------- BIG TABLET --------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro {
        .img-container {
            height: 14rem;
            width: 100%;
        }

        .img-container.column.span8-md {
            grid-column: 2 / span 6;
        }

    }
}
/*------- LAPTOPS --------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .intro {
        .img-container {
            height: 14rem;
            width: 100%;
        }

        .img-container.column.span12-lg {
            grid-column: 3 / span 7;
        }
    }
}
/*------- DESKTOPS--------*/
@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .intro {
        .img-container {
            height: 18rem;
            width: 100%;
        }

        .img-container.column.span12-lg {
            grid-column: 3 / span 7;
        }
    }
}
/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1921px) {
    .intro {
        .img-container {
            height: 16rem;
            width: 100%;
        }

        .img-container.column.span12-lg {
            grid-column: 4 / span 6;
        }
    }
}

