@use "../utilities/variables" as vars;

/* ------ Projects Page ------ */
.projects {
    .grid-col > .grid-col {
        margin-left: 0;
        margin-right: 0;
    }

    .proj-card{ 
        margin-bottom: 8rem;

        h3 a {
            transition: .25s ease-in-out;
        }

        h3 a:hover {
            border-bottom: vars.$colour-1 solid .15rem;
        }

        > a {
            display: block;
            width: 100%;
            transition: .25s ease-in-out;
            margin-bottom: 1.5rem;
        }

        > a:hover {
            transform: scale(1.03);
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 1rem;
        }

        .card-content {
            width: 100%;

            h3 {
                line-height: 1.3;

                a {
                    text-decoration: none;
                    color: vars.$colour-1;
                }
            }

        }

        .proj-tags {
            display: flex;
            margin-bottom: 1.5rem;

            p {
                padding: 0 1rem;
                font-size: 1.7rem;
                margin-right: 1.5rem; 
                height: fit-content;
                color: vars.$colour-1;
                border: vars.$colour-1 .15rem solid;
                border-radius: 1rem;
            }
        }

        
    }
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
@media screen and (min-width: 480px) {

}
/*------- BIG TABLET --------*/
@media screen and (min-width: 768px) {
    .proj-card {
        a.column.span8-md {
            grid-column: 1 / span 3;
        }

        .card-content.column.span8-md {
            grid-column: auto / span 5;
        }
    }
}
/*------- LAPTOPS --------*/
@media screen and (min-width: 1024px) {
    .proj-card {
        a.column.span12-lg {
            grid-column: 1 / span 5;
        }

        .card-content.column.span12-lg {
            grid-column: auto / span 7;
        }
    }
    
}
/*------- DESKTOPS--------*/
@media screen and (min-width: 1440px) {
    .proj-card {
        a.column.span12-lg {
            grid-column: 1 / span 4;
        }

        .card-content.column.span12-lg {
            grid-column: auto / span 8;
        }
    }
}
/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1920px) {
    
}