/* ------ Variables ------ */
$colour-1: #427A61;
$colour-2: #FFFAEB;
$colour-3: #131313;
$colour-4: #193e2d;
$font: 'Rubik', sans-serif;
$font-h: 'Rubik Mono One', sans-serif;

/* -- Global -- */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    font-size: 62.5%;
    // padding: 0 10rem;
    font-family: 'Rubik', sans-serif;
    background: $colour-2;
}


/* ------ Utility Classes ------ */
section {
    margin: 2.5rem 0;

    img {
        width: 100%;
        border-radius: 1rem;
    }

    .bulleted {
        li {
            padding-left: 1rem;
        }

        li:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        li::before {
            content: 'â—';
            color: $colour-1;
            display: inline-block;
            width: 1rem;
            font-weight: 700;
        }
    }
}

.section-bg {
    width: 100%;
    background: $colour-1;
    color: $colour-2;
    padding: 1.5rem 0;
}

.container {
    max-width: 30rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 1.5rem 0 1.5rem;
    background: $colour-1;
    border: none;
    font-family: $font;
    font-size: 1.1rem;
    line-height: 1.75;
    color: $colour-2;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    max-height: 3.6rem;
    max-width: fit-content;
    transition: .25s ease-in-out;
}

.btn:hover {
    background: $colour-4;
}

/* ------ Contact Section ------ */

.contact {
    text-align: center;

    p {
        margin-bottom: 3rem;
    }
    .social-icons {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            margin: 0 3rem;
        }

        span {
            font-size: 2.5rem;
            color: $colour-1;
            transition: .25s ease-in-out;
        }

        span:hover {
            color: $colour-4;
        }
    }
}

/* ------ Grid ------ */
.grid-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    margin: 0 1.5rem;

    .column {
        grid-column: 1 / span 4;
    }
}

// @NOTE: I think this messes with some stuff with CSS ordering and priorities. Gets rendered even if something else changes it later on. Figure this out eventually lol.
// .grid-col > *:not(:last-child) {
//     margin-bottom: 1.5rem;
// }

// @NOTE: DELETE THIS
/* ----- Grid Test ----- */
.grid-col-test {
    background: $colour-1;
    height: 5.5rem;
    margin: 1.5rem 0;
    border-radius: 1rem;
}

/* ----- Grid ----- */
.column.span1 {
    grid-column: auto / span 1;
}

.column.span2 {
    grid-column: auto / span 2;
}

.column.span3 {
    grid-column: auto / span 3;
}

.column.span4 {
    grid-column: auto / span 4;
}

.column.span5 {
    grid-column: auto / span 5;
}

.column.span6 {
    grid-column: auto / span 6;
}

.column.span7 {
    grid-column: auto / span 7;
}

.column.span8 {
    grid-column: auto / span 8;
}

.column.span9 {
    grid-column: auto / span 9;
}

.column.span10 {
    grid-column: auto / span 10;
}

.column.span11 {
    grid-column: auto / span 11;
}

/* ------ Typography ------ */

h1, h2, h3, h4, h5, h6 {
    font-family: $font-h;
    color: $colour-1;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .6rem;
}

h6 {
    font-size: .3rem;
}

p, li {
    font-size:  1.1rem;
    line-height: 1.75;
}

figcaption {
    font-size: 1rem;
}

* > p:not(:last-child) {
    margin-bottom: 1.5rem;
}

b, strong {
    font-weight: 700;
}

i, em, figcaption {
    font-style: italic;
}

figcaption {
    font-weight: 200;
    text-align: center;
    padding: 1rem;
}


/* ------ Header Nav ------ */
header .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .header-logo {
        width: 5rem;
    }

    .global-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
    
        li {
            font-size: 1.5rem;
            font-weight: 600;
            padding: 1rem;
        }
    
        a {
            text-decoration: none;
            color: $colour-1;
            transition: .25s ease-in-out;
        }

        a:hover {
            color: $colour-4;
            border-bottom: $colour-1 solid .15rem;
        }
    }    
}

 
/* ------ Content ------ */

main {
    font-size: 1.75rem;
    // margin: 1.5rem 0;
    // padding: 1.5rem 0;
}

/* ------ Index ------ */
.intro {
    .img-container {
        width: 100%;
        height: 8rem;

        // @NOTE: might not work if I do width %, might have to have an absolute number
        img {
        height: auto;
        width: 85%;
        align-self: center;
        position: absolute;
        border-radius: 0rem;
        z-index: -5;
        //border: $colour-1 .5rem solid;
        }
    }
}

.showcase {
    h2 {
        color: $colour-2;
        text-align: center;
    }

    .card {
        background: $colour-2;
        padding: 1.5rem;
        border-radius: 1rem;
        margin-bottom: 2rem;

        img {
            height: 20rem;
            width: 100%;
            object-fit: cover;
            margin-bottom: 1.5rem;
            border-radius: 1rem;
            transition: .25s ease-in-out;
        }

        img:hover {
            transform: scale(103%);
        }

        p {
            text-align: center;
            color: $colour-3;
        }
    } 
}



/* ------ About ------ */
.about-me {
    img {
        width: 100%;
        //border: $colour-1 .5rem solid;
        border-radius: 1rem;
    }
}

.skills {
    .smol-txt {
        font-size: 1rem;
    }
}

.values {
    h2 {
        margin-bottom: 3rem;
    }

    .card {
        margin-bottom: 3rem;

        h3 {
            margin-bottom: 1.5rem;
        }
    }
}

.mission {
    h2 {
        color: $colour-2;
    }

    p {
        color: $colour-2;
        font-size: 2.5rem;
    }
}

.goals {
    .column.span10:first-of-type {
        margin-bottom: 2rem;
    }

    img {
        height: 5rem;
    }
}

/* ------ Projects Page ------ */
.projects {
    .proj-card{ 
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 3rem;

        h3 a {
            transition: .25s ease-in-out;
        }

        h3 a:hover {
            border-bottom: $colour-1 solid .15rem;
        }

        > a {
            width: 38%;
            transition: .25s ease-in-out;
        }

        > a:hover {
            transform: scale(103%);
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 1rem;
        }

        .card-content {
            width: 60%;

            h3 {
                line-height: 1.3;

                a {
                    text-decoration: none;
                    color: $colour-1;
                }
            }

        }

        .proj-tags {
            display: flex;

            p {
                padding: 0 1rem;
                font-size: 1.1rem;
                margin-right: 1.5rem; 
                height: fit-content;
                color: $colour-1;
                border: $colour-1 .15rem solid;
                border-radius: 1rem;
            }
        }

        
    }
}

/* ------ Indv. Project Page ------ */
.proj-intro {
    .proj-header {
        margin-bottom: 5rem;

        h1 {
            margin: 2.5rem 0 1.5rem;
        }

        .proj-tags {
            display: flex;
        }

        p {
            padding: 0 1.5rem;
            //background-color: $colour-3;
            margin-right: 1.5rem; 
            height: fit-content;
            color: $colour-1;
            border: $colour-1 .15rem solid;
            border-radius: 1rem;
        }
    }
}

.proj-process {
    .grid-col > *:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    .lb-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        div {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 0%;
            transition: .25s ease-in-out;
        }

        img:hover {
            transform: scale(103%);
            cursor: pointer;
            object-position: 60% 10%;
        }
    }

    .lb-container.glyph {
        grid-column: 6 / span 2;
        img {
            height: 10rem;
        }
    }

    .lb-container.final-poster {
        a {
            grid-column: 4 / span 6;
        }

        img {
            height: 50rem;
        }
    }
}

.proj-closing {
    text-align: center;
    p {
        margin-bottom: 1.5rem;
    }

    .grid-col a {
        margin: 0 auto;
    }
} // end indv. proj. styles

/* ------ Footer ------ */
footer {
    background: $colour-3;
    width: 100%;

    .column {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colour-1;
        flex-direction: column;
        
        .footer-logo {
            flex-basis: 33.333%;

            img {
                width: 2.5rem;
            }
        }
        
        p {
            font-weight: 700;
            font-size: .8rem;
            text-align: center;
            flex-basis: 33.333%;
            // align-self: flex-end;
        }
        
        // social icons
        .socials {
            flex-basis: 33.333%;
            text-align: right;

            span {
                font-size: 2rem;
                color: $colour-1;
                transition: .25s ease-in-out;
            }

            span:hover {
                color: $colour-2;
            }

            i {
                margin: 1rem;
            }
        }   
    }
} // end footer styles




// @NOTE: UH. I'LL FIGURE IT OUT. Commented out to overhaul base CSS [cry]

// /* ------ Responsive ------ */
// /* Mobile */
// @media screen and (max-width: 768px) {

//     /* ------ Typography ------ */
//     h1, h2, h3, h4, h5, h6 {
//         margin-bottom: 1.5rem;
//     }

//     h1 {
//         font-size: 3rem;
//     }

//     h2 {
//         font-size: 2rem;
//     }

//     h3 {
//         font-size: 1.5rem;
//     }

//     p, li {
//         font-size: 1.2rem;
//     }
    

//     /* ------ Utility ------ */

//     .container {
//         max-width: 30rem;
//     }

//     .grid-col {
//         grid-template-columns: repeat(4, 1fr);
//         grid-column-gap: 1.5rem;
//         margin: 0 1.5rem;

//         .column {
//             grid-column: 1 / span 4;

//             > .grid-col {
//                 margin: 0;
//                 grid-template-columns: repeat(4, 1fr);
//             }
//         }
//     }

//     .grid-col > *:not(:last-child) {
//         margin-bottom: 1.5rem;
// }

//     section {
//         margin: 1.5rem 0;
//     }

//     /* ------ Nav ------ */
//     header .column {
//         flex-direction: column;
//         grid-column: 1 / span 4;
//         align-items: center;
        
//         .header-logo {
//             width: 6rem;
//             height: 4rem;
//             object-fit: cover;
//         }

//         .global-nav {
//             li {
//                 font-size: 1.5rem;
//                 padding: .5rem;
//             }
//         }
//     }


//     /* ------ Content ------ */
    
//     /* Content -- About */
//     .values {
//         h2 {
//             margin-bottom: 5rem;
//         }

//         .card {
//             margin: 0 0 4rem;

//             img {
//                 grid-column: 2 / span 2;
//             }
//         }
//     }

//     .mission {
//         p {
//             font-size: 1.5rem;
//         }
//     }

//     /* Content -- Projects */
//     .projects {
//         .proj-card {
//             flex-direction: column;
//             margin-bottom: 5rem;

//             h3 {
//                 margin-bottom: 1rem;
//             }

//             > a {
//                 width: 100%;
//             }
            
//             .card-content {
//                 width: 100%;
//             }

//             .proj-tags {
//                 justify-content: flex-start;
//                 flex-wrap: wrap;
//                 margin-bottom: 1rem;

//                 p {
//                     font-size: 1.2rem;
//                     padding: 0 .5rem;
//                     margin: .5rem .5rem .5rem 0rem;
//                     width: fit-content;
//                 }
//             }

//         }
//     }

//     /* Content -- Indv. Projects */
//     .proj-intro {

//         h1 {
//             font-size: 2.2rem;
//         }

//         .proj-header {
//             .proj-tags {
//                 flex-wrap: wrap;
//             }

//             .proj-tags {
//                 p {
//                     font-size: 1rem;
//                     padding: 0 .5rem;
//                     margin: .5rem .5rem .5rem 0rem;
//                     width: fit-content;
//                 }
//             }
//         }
//     }

//     .proj-process {
//        .lb-container.glyph {
//             grid-column: 1 / span 4;
//        }

//        .lb-container.final-poster {
//             a {
//                 grid-column: 1 / span 4;
//             }

//             img {
//                 width: 100%;
//                 height: 100%;
//             }
//        }
//     }


//     /* ------ Contact Me ------ */

//     .contact {
//         .social-icons {
//             a {
//                 margin: 0 1.5rem;
//             }
//             span {
//                 font-size: 3rem;
//             }
//         }
//     }

//     /* ------ Footer ------ */
//     footer {
//         .column {
//             flex-direction: column;
//             display: grid;
//             grid-template-rows: 25% 50% 25%;
            
//             .footer-logo {
//                 grid-row: 1 / span 1;
//                 text-align: center;

//                 img {
//                     width: 4rem;
//                 }
//             }

//             p {
//                 grid-row: 3 / span 1;
//                 font-size: .9rem;
//             }

//             .socials {
//                 grid-row: 2 / span 1;
//                 justify-self: center;
//             }
//         }
//     }
// }

// /* Tablets */
// @media screen and (max-width: 992px) {

//     /* ------ Typography ------ */
//     h1, h2, h3, h4, h5, h6 {
//         margin-bottom: 1.5rem;
//     }

//     h1 {
//         font-size: 3rem;
//     }

//     h2 {
//         font-size: 2rem;
//     }

//     h3 {
//         font-size: 1.5rem;
//     }

//     p, li {
//         font-size: 1.2rem;
//     }
    

//     /* ------ Utility ------ */

//     .container {
//         max-width: 50rem;
//     }

//     .grid-col {
//         grid-template-columns: repeat(8, 1fr);
//         grid-column-gap: 1.5rem;
//         margin: 0 2rem;

//         .column {
//             grid-column: 1 / span 8;

//             > .grid-col {
//                 margin: 0;
//                 grid-template-columns: repeat(4, 1fr);
//             }
//         }
//     }

//     .grid-col > *:not(:last-child) {
//         margin-bottom: 1.5rem;
// }

//     section {
//         margin: 1.5rem 0;
//     }

//     /* ------ Nav ------ */
//     header .column {
//         flex-direction: row;
//         justify-content: space-between;
        
//         .header-logo {
//             width: 6rem;
//             height: 4rem;
//             object-fit: cover;
//         }

//         .global-nav {
//             li {
//                 font-size: 1.5rem;
//                 padding: .5rem;
//             }
//         }
//     }


//     /* ------ Content ------ */
    
//     /* Content -- About */
//     .values {
//         h2 {
//             margin-bottom: 5rem;
//         }

//         .card {
//             margin: 0 0 4rem;

//             img {
//                 grid-column: 2 / span 2;
//             }
//         }
//     }

//     .mission {
//         p {
//             font-size: 1.5rem;
//         }
//     }

//     /* Content -- Projects */
//     .projects {
//         .proj-card {
//             flex-direction: column;
//             margin-bottom: 5rem;

//             h3 {
//                 margin-bottom: 1rem;
//             }

//             > a {
//                 width: 100%;
//             }
            
//             .card-content {
//                 width: 100%;
//             }

//             .proj-tags {
//                 justify-content: flex-start;
//                 flex-wrap: wrap;
//                 margin-bottom: 1rem;

//                 p {
//                     font-size: 1.2rem;
//                     padding: 0 .5rem;
//                     margin: .5rem .5rem .5rem 0rem;
//                     width: fit-content;
//                 }
//             }

//         }
//     }

//     /* Content -- Indv. Projects */
//     .proj-intro {

//         h1 {
//             font-size: 2.2rem;
//         }

//         .proj-header {
//             .proj-tags {
//                 flex-wrap: wrap;
//             }

//             .proj-tags {
//                 p {
//                     font-size: 1rem;
//                     padding: 0 .5rem;
//                     margin: .5rem .5rem .5rem 0rem;
//                     width: fit-content;
//                 }
//             }
//         }
//     }

//     .proj-process {
//        .lb-container.glyph {
//             grid-column: 1 / span 4;
//        }

//        .lb-container.final-poster {
//             a {
//                 grid-column: 1 / span 4;
//             }

//             img {
//                 width: 100%;
//                 height: 100%;
//             }
//        }
//     }


//     /* ------ Contact Me ------ */

//     .contact {
//         .social-icons {
//             a {
//                 margin: 0 1.5rem;
//             }
//             span {
//                 font-size: 3rem;
//             }
//         }
//     }

//     /* ------ Footer ------ */
//     footer {
//         .column {
//             flex-direction: column;
//             display: grid;
//             grid-template-rows: 25% 50% 25%;
            
//             .footer-logo {
//                 grid-row: 1 / span 1;
//                 text-align: center;

//                 img {
//                     width: 4rem;
//                 }
//             }

//             p {
//                 grid-row: 3 / span 1;
//                 font-size: .9rem;
//             }

//             .socials {
//                 grid-row: 2 / span 1;
//                 justify-self: center;
//             }
//         }
//     }
// } // END RESONSIVENESS