@use "../utilities/variables" as vars;

/* ------ Contact Section ------ */

.contact {
    text-align: center;

    p {
        margin-bottom: 3rem;
    }
    .social-icons {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            margin: 0 1.5rem;
        }

        span {
            font-size: 3rem;
            color: vars.$colour-1;
            transition: .25s ease-in-out;
        }

        span:hover {
            color: vars.$colour-4;
        }
    }
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
@media screen and (min-width: 480px) {

}
/*------- BIG TABLET --------*/
@media screen and (min-width: 768px) {
    .contact .social-icons {
        a {
            margin: 0 3rem;
        }
        span {
            font-size: 5rem;
        }
    }
}
/*------- LAPTOPS --------*/
@media screen and (min-width: 1024px) {

    
}
/*------- DESKTOPS--------*/
@media screen and (min-width: 1440px) {
    
}
/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1920px) {
    
}