@use "../utilities/variables" as vars;

/* ------ Contact Section ------ */

.contact {
    text-align: center;

    p {
        margin-bottom: 3rem;
    }
    .social-icons {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            margin: 0 3rem;
        }

        span {
            font-size: 2.5rem;
            color: vars.$colour-1;
            transition: .25s ease-in-out;
        }

        span:hover {
            color: vars.$colour-4;
        }
    }
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- TABLET --------*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    
}
/*------- LAPTOPS --------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}
/*------- DESKTOPS --------*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}
/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1201px) {
    
}
