@use "../utilities/variables" as vars;

/* ------ Footer ------ */
footer {
    background: vars.$colour-3;
    width: 100%;

    .column {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: vars.$colour-1;
        flex-direction: column;
        
        .footer-logo {
            flex-basis: 33.333%;

            img {
                width: 5rem;
            }
        }
        
        p {
            font-weight: 700;
            font-size: 1.2rem;
            text-align: center;
            flex-basis: 33.333%;
            // align-self: flex-end;
        }
        
        // social icons
        .socials {
            flex-basis: 33.333%;
            text-align: right;

            span {
                font-size: 2rem;
                color: vars.$colour-1;
                transition: .25s ease-in-out;
            }

            span:hover {
                color: vars.$colour-2;
            }

            i {
                margin: 1rem;
            }
        }   
    }
}

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
@media screen and (min-width: 481px) {

}
/*------- BIG TABLET --------*/
@media screen and (min-width: 769px) {

}
/*------- LAPTOPS --------*/
@media screen and (min-width: 1024px) {

    
}
/*------- DESKTOPS--------*/
@media screen and (min-width: 1441px) {
    
}
/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1921px) {
    
}