@use "../utilities/variables" as vars;

/* ------ Grid ------ */
.grid-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    margin: 0 1.5rem;

    .column {
        grid-column: 1 / span 4;
    }

    // smaller tablets
    @media screen and (min-width: 480px) {
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 2rem;
        margin: 0 2rem;

        .column {
            grid-column: 1 / span 8;
        }
    }
    // bigger tablets
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 2rem;
        margin: 0 2rem;

        .column {
            grid-column: 1 / span 8;
        }
    }
    // laptops
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 2.5rem;
        margin: 0 4rem;

        .column {
            grid-column: 1 / span 12;
        }
    }
    // desktops
    @media screen and (min-width: 1440px) {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 2.5rem;
        margin: 0 6rem;

        .column {
            grid-column: 1 / span 12;
        }
    }

    // large screens
    @media screen and (min-width: 1920px) {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 2.5rem;
        margin: 0 8rem;

        .column {
            grid-column: 1 / span 12;
        }
    }
}

// @NOTE: I think this messes with some stuff with CSS ordering and priorities. Gets rendered even if something else changes it later on. Figure this out eventually lol.
// .grid-col > *:not(:last-child) {
//     margin-bottom: 1.5rem;
// }

/* ----- Grid ----- */
.column.span1 {
    grid-column: auto / span 1;
}

.column.span2 {
    grid-column: auto / span 2;
}

.column.span3 {
    grid-column: auto / span 3;
}

.column.span4 {
    grid-column: auto / span 4;
}

.column.span5 {
    grid-column: auto / span 5;
}

.column.span6 {
    grid-column: auto / span 6;
}

.column.span7 {
    grid-column: auto / span 7;
}

.column.span8 {
    grid-column: auto / span 8;
}

.column.span9 {
    grid-column: auto / span 9;
}

.column.span10 {
    grid-column: auto / span 10;
}

.column.span11 {
    grid-column: auto / span 11;
}

.column.span12 {
    grid-column: auto / span 12;
}

// <div class="column span4 span8-md"></div>

/*----------------------
    Responsiveness
-----------------------*/
/*------- SMALL TABLET --------*/
@media screen and (min-width: 480px) {
    .column.span8-md {
        grid-column: auto / span 8;
    }
}
/*------- BIG TABLET --------*/
@media screen and (min-width: 768px) {

}
/*------- LAPTOPS --------*/
@media screen and (min-width: 1024px) {
    .column.span12-lg {
        grid-column: auto / span 12;
    }
}
/*------- DESKTOPS--------*/
@media screen and (min-width: 1440px) {

}
/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1920px) {

}
