@use "../utilities/variables" as vars;

/* ------ Grid ------ */
.grid-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    margin: 0 1.5rem;

    @media screen and (min-width: 481px) {
        grid-template-columns: repeat(8, 1fr);
    }

    .column {
        grid-column: 1 / span 4;
    }
}

// @NOTE: I think this messes with some stuff with CSS ordering and priorities. Gets rendered even if something else changes it later on. Figure this out eventually lol.
// .grid-col > *:not(:last-child) {
//     margin-bottom: 1.5rem;
// }

/* ----- Grid ----- */
.column.span1 {
    grid-column: auto / span 1;
}

.column.span2 {
    grid-column: auto / span 2;
}

.column.span3 {
    grid-column: auto / span 3;
}

.column.span4 {
    grid-column: auto / span 4;
}

.column.span5 {
    grid-column: auto / span 5;
}

.column.span6 {
    grid-column: auto / span 6;
}

.column.span7 {
    grid-column: auto / span 7;
}

.column.span8 {
    grid-column: auto / span 8;
}

.column.span9 {
    grid-column: auto / span 9;
}

.column.span10 {
    grid-column: auto / span 10;
}

.column.span11 {
    grid-column: auto / span 11;
}

// <div class="column span4 span8-md"></div>

/*----------------------
    Responsiveness
-----------------------*/
/*------- TABLET --------*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    
    .column.span8-md {
        grid-column: auto / span 8;
    }

}
/*------- LAPTOPS --------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}
/*------- DESKTOPS --------*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}
/*------- LARGE SCREENS --------*/
@media screen and (min-width: 1201px) {
    
}
